* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #1F1E1F;
    overflow-x: hidden;
}

/* NAVIGATION BAR */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1E1F;
    position: sticky;
    width: 100%;
    padding: 20px 80px;
    z-index: 3;
    top: 0px;
    border-bottom: 1px solid #ECE2D0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
    font-size: 15px;
}

.nav-links li a {
    position: relative;
    font-family: 'Manrope', sans-serif;
    color: #ECE2D0;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.6s ease;
    font-weight: 200;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: #ECE2D0;
    transition: width 0.5s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav-links li button {
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff00;
    color: #ECE2D0;
    font-size: 16px;
    padding: 15px 40px;
    border: 1px solid #ECE2D0;
    font-weight: 200;
    border-radius: 5%;
    transition: all 0.3s ease 0s;
}

.nav-links li button:hover {
    background-color: #ece2d02f;
    cursor: pointer;
}

.nav-links li a.no-underline::after {
    display: none;
}

.logo-container{
    width: 70px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

/* HEADER */

.header {
    background-color: #F7FAEB;
    text-align: center;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.header-content {
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);
    color: #F7FAEB;
    text-align: left;
}

.header-content h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 5px;
}

.header-content h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}

.header-content button {
    font-family: 'Manrope', sans-serif;
    background-color: transparent;
    color: #F7FAEB;
    font-size: 16px;
    font-weight: 200;
    padding: 12px 30px;
    border: 1px solid #F7FAEB;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-content button:hover {
    background-color: #ece2d02f;
    cursor: pointer;
}

/* WELCOME SECTION */

.welcome {
    background-color: #1F1E1F;
    justify-content: center;
    gap: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 120px 120px;
}

.welcome-img{
    width: 400px;
}

.welcome-img img {
    width: 100%;
    height: auto;
}

.welcome-content {
    color: #ECE2D0;
    text-align: left;
    width: 500px;
}

.welcome-1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 2px;
}

.welcome-2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}

.welcome-content p {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* VIDEO SECTION */

.video-section {
    background-color: #BBA58F;
    justify-content: center;
    gap: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 120px 120px;
}

.video-container {
    width: 280px;
}

.video-container img {
    width: 100%;
    height: auto;
}

.video-content {
    color: #582F0E;
    text-align: right;
    width: 500px;
}

.video-1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 2px;
}

.video-2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}

.video-content p {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* CHOOSE YOUR BREW SECTION */

.brew-section {
  background-color: #1F1E1F;
  text-align: center;
  padding: 100px 0;
  color: #ECE2D0;
}

.brew-header {
    color: #ECE2D0;
    text-align: center;
    margin-bottom: 60px;
}

.choose-text {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
}

.brew-text {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
    border-bottom: 2px solid #ECE2D0;
}

.brew-options {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.brew-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.brew-card img {
  width: 250px;
  transition: transform 0.3s ease;
}

.brew-card .brew-name {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  margin-top: 15px;
  color: #ECE2D0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brew-card:hover img {
  transform: translateY(-10px);
}

.brew-card:hover .brew-name {
  opacity: 1;
}

.brew-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* shows hand on hover */
}

/* FOOTER */

.footer {
  background-color: #1F1E1F;
  color: #ECE2D0;
  font-family: 'Manrope', sans-serif;
  padding: 50px 0px 30px;
  border-top: 1px solid #ECE2D0;
  font-weight: 200;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 22%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  width: 80px;
  margin-bottom: 20px;
}

.footer-description {
  max-width: 300px;
  line-height: 1.6;
  font-size: 15px;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: #ECE2D0;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #d6c5b1;
}

.footer-contact p {
  margin: 6px 0;
  font-size: 15px;
}

.footer-socials {
  margin-top: 12px;
  display: flex;
  gap: 14px;
}

.footer-socials img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.footer-socials img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  border-top: 1px solid #ECE2D0;
  margin-top: 40px;
}

/* COFFEE VIDEO SECTION */

.coffee-making {
    background-color: #1F1E1F;
    justify-content: center;
    gap: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 120px 120px;
}

.coffee-making-video {
    width: 300px;
    border: 1px solid #ECE2D0;
    border-radius: 10px;
    background-color: transparent;
    padding: 12px;
}

.coffee-making-video source {
    width: 100%;
    height: auto;
}

.coffee-making-section {
    color: #ECE2D0;
    text-align: left;
    width: 500px;
}

.coffee-making-title {
    align-items: center;
    margin-bottom: 30px;
}

.coffee-making-1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
}

.coffee-making-2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
}

.coffee-making-subheader {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.coffee-making-desc {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* AMERICANO HISTORY */
.americano {
    background-color: #1F1E1F;
    justify-content: center;
    gap: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 120px 120px;
}

.americano-img{
    width: 400px;
}

.americano-img img {
    width: 100%;
    height: auto;
}

.americano-content {
    color: #ECE2D0;
    text-align: left;
    width: 500px;
}

.americano-1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 2px;
}

.americano-2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}

.americano-content p {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* CAPPUCCINO HISTORY */
.cappuccino {
    background-color: #BBA58F;
    justify-content: center;
    gap: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 120px 120px;
}

.cappuccino-img{
    width: 400px;
}

.cappuccino-img img {
    width: 100%;
    height: auto;
}

.cappuccino-content {
    color: #582F0E;
    text-align: left;
    width: 500px;
}

.cappuccino-1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 2px;
}

.cappuccino-2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}

.cappuccino-content p {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* LATTE HISTORY */
.latte {
    background-color: #1F1E1F;
    justify-content: center;
    gap: 80px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 120px 120px;
}

.latte-img{
    width: 400px;
}

.latte-img img {
    width: 100%;
    height: auto;
}

.latte-content {
    color: #ECE2D0;
    text-align: left;
    width: 500px;
}

.latte-1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 2px;
}

.latte-2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}

.latte-content p {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 15px;
}